@using HealthFit.Object_Provider.Model;
@model Journal
@{
    string viewJournalUrl = string.Format("publishers/viewjournaldetails?journalId={0}",Model.JournalID.ToString());
}
<div class="product">
    <a href="@viewJournalUrl" class="info">
        <span class="holder">
            <img src="@Model.JournalCoverPhotoPathByte" alt="" asp-append-version="true" />
            <span class="book-name">@Model.Title</span>
            <span class="author">@Model.ISSN</span>
            <span class="description"> 
                @if (Model.Description.Length < 30)
                {
                    @Model.Description
                }
                else
                {
                    @(Model.Description.Substring(0, 30) + " more..")
                }
            </span>
        </span>
    </a>
    <a href="@viewJournalUrl" class="buy-btn">SUBSCRIBE<span class="price"><span class="low">$</span>@Model.Price</span></a>
</div>
